<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center mb-4">Add a New Question</h1>
      <%= form_with(model: @question, url: admin_questions_path, method: :post, class: "needs-validation") do |form| %>
        <div class="mb-3">
          <%= form.text_area :text, rows: 4, class: "form-control", required: true, placeholder: "Write Question here ....." %>
        </div>

        <div class="mb-3">
          <%= form.text_field :option_a, class: "form-control", required: true, placeholder: "Enter option a" %>
        </div>
        <div class="mb-3">
          <%= form.text_field :option_b, class: "form-control", required: true, placeholder: "Enter option b" %>
        </div>
        <div class="mb-3">
          <%= form.text_field :option_c, class: "form-control", required: true, placeholder: "Enter option c" %>
        </div>
        <div class="mb-3">
          <%= form.text_field :option_d, class: "form-control", required: true, placeholder: "Enter option d" %>
        </div>

        <div class="mb-3">
          <%= form.select :correct_answer, options_for_select([["Option A", "option_a"], ["Option B", "option_b"], ["Option C", "option_c"], ["Option D", "option_d"]], @question.correct_answer), { include_blank: "Select correct answer" }, { class: "form-select", required: true } %>
        </div>
        
        <div class="mb-3">
          <%= form.submit 'Submit', class: "btn btn-primary me-2" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
