<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <%= turbo_include_tags %>

  <style>
    .footer {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #d0e7ff;
      padding: 20px 0;
      text-align: center;
    }

  </style>

  <title>Admin Dashboard</title>
</head>
<body>

  <%= render '/admin/admin_header' %>

  <div class="container mt-4">
    <% if notice %>
      <div id="notice-alert" class="alert alert-success alert-dismissible fade show" role="alert">
        <%= notice %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <%= yield %>
  </div>

  <!-- Modal Frame for Turbo -->
  <turbo-frame id="deleteModal"></turbo-frame>

  
  <%= render '/admin/footer' %>

  <script>
    // Automatically close the notice after 5 seconds
    setTimeout(function() {
      var alert = document.getElementById('notice-alert');
      if (alert) {
        alert.remove();
      }
    }, 5000);


  // Enable hover behavior for Bootstrap dropdowns
  $(document).ready(function() {
    // For dropdown menus that need hover behavior
    $('.navbar .dropdown').hover(function() {
      $(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();
    }, function() {
      $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp();
    });

    // Add class to open dropdown on hover
    $('.navbar .dropdown').each(function() {
      $(this).hover(function() {
        $(this).addClass('show');
        $(this).find('.dropdown-menu').first().addClass('show');
      }, function() {
        $(this).removeClass('show');
        $(this).find('.dropdown-menu').first().removeClass('show');
      });
    });
  });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>

</html>
